{% extends "rapir/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы.{% endblock %}
{% block content %}
<section class="project-section forum-section discussion-section">
    <hr>
    <div class="push40"></div>
	<div class="container">
		<div class="project-wrapper">
			<div class="content">
				<div class="project-header">
					<div class="header-title">
						<h1>Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы.</h1>
						<div class="push10"></div>
						<div class="push25"></div>
					</div>
				</div>
				<div class="section-content">
					<div class="img-wrapp">
						<img src="{% static 'rapir/images/about-one.jpg' %}"/>
					</div>
					<div class="title-wrapp">
						<div class="project-subtitle">
							<p>
								Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.
							</p>
							<p>
								Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.
							</p>
							<p>
								Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.
							</p>
						</div>
						<div class="item-bottom">
							<div class="date" id="answer">23.04.22</div>
						</div>
					</div>
				</div>
				<div class="push30"></div>

				<section class="discassion-wrapper">
					<div class="comment">
						<div class="form-group">
							<textarea class="form-control" name="message" placeholder="Введите сообщение..."></textarea>
							<div class="discassion-button-wrap">
								<input type="submit" class="button btn" value="Добавить комментарий" />
							</div>
						</div>
					</div>
				</section>
				<div class="push50"></div>
				<div class="section-item-wrapper">
					<div class="section-item">
						<div class="img-wrap">
							<img src="{% static 'rapir/images/about-one.jpg' %}"/>
						</div>
                        <div class="title-wrap">
							<div class="diss-header">
								<div class="diss-header-left">
									<h3>Красикова Валентина Аркадьевна</h3>
									<div class="date">23.04.22 15:00</div>
								</div>
								<div class="diss-header-right">
									<a>
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</a>
									<a>
										<i class="fa fa-trash-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
                            <div class="project-subtitle">
								Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы.
							</div>
							<a href="#answer" class="answer">
								Ответить
							</a>
                        </div>
					</div>
					<div class="section-item">
						<div class="img-wrap">
							<img src="{% static 'rapir/images/about-one.jpg' %}"/>
						</div>
                        <div class="title-wrap">
							<div class="diss-header">
								<div class="diss-header-left">
									<h3>Красикова Валентина Аркадьевна</h3>
									<div class="date">23.04.22 15:00</div>
								</div>
								<div class="diss-header-right">
									<a>
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</a>
									<a>
										<i class="fa fa-trash-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
                            <div class="project-subtitle">
								Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы.Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы.
							</div>
							<a href="#answer" class="answer">
								Ответить
							</a>
                        </div>
					</div>
				</div>
				{% include 'rapir/pagination.html' %}
                <div class="push50"></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
