{% extends "rapir/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Эксперты{% endblock %}
{% block content %}
<div class="participant-page">
    <section class="participant-section">
        <hr>
        <div class="push50"></div>
        <div class="container">
            <div class="participant-wrapper">
                <div class="participant-header">
                    <div class="text-header">
                        <h2>Специалисты и эксперты центра</h2>
                        <div class="push20"></div>
                    </div>
                    <hr>
                    <div class="push30"></div>
                    <div class="subtitle">
                        <p>
                            Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                        </p>
                    </div>
                    <div class="push50"></div>
                </div>
                <div class="participants-wrap">
                    <!--=======================Participants item begin=======================-->
                    {% for expert in experts %}
                       <!--div class="experts-item">
						<div class="expert-inner">
							<div class="image-wrapper">
								{% if expert.avatar %}
								<img src="{{ expert.avatar.url }}" alt="expert"/>
							{% else %}
								<img src="{% static 'rapir/images/empty.png' %}" alt="expert">
							{% endif %}
							</div>
							<div class="experts-text">
								<div class="title-wrapper">
									{{ expert.name }}
								</div>
								<div class="push10"></div>
								<div class="description-wrapper">
									{{ expert.description }}
								</div>
							</div>
						</div>
					</div-->
                    {% endfor %}
                    <div class="experts-item">
                        <div class="expert-inner">
                            <div class="image-wrapper">
                                <img src="{% static 'rapir/images/ph1.jpg' %}" alt="expert"/>
                            </div>
                            <div class="experts-text">
                                <div class="title-wrapper">
                                    Баханова Елена Викторовна
                                </div>
                                <div class="push10"></div>
                                <div class="description-wrapper">
                                    психолог, кандидат социологических наук, докторант, имеет более 60 публикаций и учебных пособий, в том числе 3 монографии
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experts-item">
                        <div class="expert-inner">
                            <div class="image-wrapper">
                                <img src="{% static 'rapir/images/ph1.jpg' %}" alt="expert"/>
                            </div>
                            <div class="experts-text">
                                <div class="title-wrapper">
                                    Башарина Алла Викторовна
                                </div>
                                <div class="push10"></div>
                                <div class="description-wrapper">
                                    Кандидат социологических наук, магистр юриспруденции
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experts-item">
                        <div class="expert-inner">
                            <div class="image-wrapper">
                                <img src="{% static 'rapir/images/ph1.jpg' %}" alt="expert"/>
                            </div>
                            <div class="experts-text">
                                <div class="title-wrapper">
                                    Игонина Наталья Валентиновна
                                </div>
                                <div class="push10"></div>
                                <div class="description-wrapper">
                                    Директор Медицинского центра "Медсовет", диетолог, специалист по ведению здорового образа жизни
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experts-item">
                        <div class="expert-inner">
                            <div class="image-wrapper">
                                <img src="{% static 'rapir/images/ph9.jpg' %}" alt="expert"/>
                            </div>
                            <div class="experts-text">
                                <div class="title-wrapper">
                                    Сибагатулина Елена Ивановна
                                </div>
                                <div class="push10"></div>
                                <div class="description-wrapper">
                                    председатель Ульяновское региональное отделение общероссийской общественной организации «Российский Красный Крест»
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experts-item">
                        <div class="expert-inner">
                            <div class="image-wrapper">
                                <img src="{% static 'rapir/images/ph1.jpg' %}" alt="expert"/>
                            </div>
                            <div class="experts-text">
                                <div class="title-wrapper">
                                    Баханова Елена Викторовна
                                </div>
                                <div class="push10"></div>
                                <div class="description-wrapper">
                                    психолог, кандидат социологических наук, докторант, имеет более 60 публикаций и учебных пособий, в том числе 3 монографии
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experts-item">
                        <div class="expert-inner">
                            <div class="image-wrapper">
                                <img src="{% static 'rapir/images/ph9.jpg' %}" alt="expert"/>
                            </div>
                            <div class="experts-text">
                                <div class="title-wrapper">
                                    Башарина Алла Викторовна
                                </div>
                                <div class="push10"></div>
                                <div class="description-wrapper">
                                    Кандидат социологических наук, магистр юриспруденции
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experts-item">
                        <div class="expert-inner">
                            <div class="image-wrapper">
                                <img src="{% static 'rapir/images/ph1.jpg' %}" alt="expert"/>
                            </div>
                            <div class="experts-text">
                                <div class="title-wrapper">
                                    Игонина Наталья Валентиновна
                                </div>
                                <div class="push10"></div>
                                <div class="description-wrapper">
                                    Директор Медицинского центра "Медсовет", диетолог, специалист по ведению здорового образа жизни
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experts-item">
                        <div class="expert-inner">
                            <div class="image-wrapper">
                                <img src="{% static 'rapir/images/ph9.jpg' %}" alt="expert"/>
                            </div>
                            <div class="experts-text">
                                <div class="title-wrapper">
                                    Сибагатулина Елена Ивановна
                                </div>
                                <div class="push10"></div>
                                <div class="description-wrapper">
                                    председатель Ульяновское региональное отделение общероссийской общественной организации «Российский Красный Крест»
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--=======================Participants item end=======================-->
                </div>
                <div class="button-wrap hidden-lg hidden-md">
                    <a class="button" href="{% url 'structure' 'e' %}">Смотреть все</a>
                </div>
            </div>
        </div>
        <div class="push70"></div>
    </section>
    <div class="push50"></div>
    {% endblock %}
</div>
